/* Styling for products */

.ProductList-container {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ProductCard__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid lightgray;
    width: 40%;
    padding: 10px;
    margin: 10px;
}

.ProductCard__container:hover {
    background: lightgray;
}

.ProductForm__form, .ProductEdit__form {
    width: 40%;
    margin: auto;
    border: 2px solid black;
    background: #F8F8F8;
}

.ProductForm--heading, .ProductEdit--heading {
    text-align: center;
    margin: auto;
}

.ProductForm--inputPair, .ProductEdit--inputPair {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.ProductForm__buttons--container, 
.ProductEdit__buttons--container,
.ProductCard__buttons--container {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.ProductDetail__buttons--container {
    display: flex;
    flex-direction: column;
}

.ProductDetail__button--editProduct,
.ProductDetail__button--addToCart,
.ProductDetail__button--addReview {
    margin: 2px;
}

.AddProduct__button {
    margin: 20px;
}

.ProductFilter__container,
.ProductSort__container {
    width: 40%;
    margin: 10px;
    text-align: right;
}

.ProductFilter__inputGroup,
.ProductSort__inputGroup {
    display: flex;
    width: 100% !important;
}

.ProductFilter__label,
.ProductSort__label {
    margin-right: 10px;
    width: 40%;
    white-space: nowrap;
    padding: 5px 0;
}

.ProductList__sort-filter-container {
    display: flex;
    justify-content: space-evenly;
}

.ProductList__pagination--container {
    margin: auto;
    width: 50%;
}

.pagination {
    justify-content: center;
    margin: auto;
}

.ProductList__resultsInfo {
    display: flex;
    justify-content: space-between;
    background: lightgoldenrodyellow;
    border: 1px solid black;
}

.ProductDetail__image-summary--container {
    display: flex;
}

.ProductDetail__image--container {
    width: 60%;
    border-right: 2px solid lightgray;
}

.ProductDetail__image--container img {
    object-fit: contain;
}

.ProductDetail__summary--container {
    width: 30%;
    margin: 20px;
}