/* Styling for products */

.ProductList-container {
    width: 90%;
    margin: auto;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ProductCard__container {
    width: 40%;
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
    background: #F8F8F8;
}

.ProductForm__form {
    width: 40%;
    margin: auto;
    border: 2px solid black;
    background: #F8F8F8;
}

.ProductForm--heading {
    text-align: center;
    margin: auto;
}

.ProductForm--inputPair {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.ProductForm__buttons--container {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;   
}