/* Styling for Reviews */

.ReviewCard__container {
  background: lightgray;
  border: 2px solid orange;
  padding: 10px;
  margin: 10px;
}

.ReviewCard__title {
  font-weight: bold;
}

.Review-inputs-group {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.Review-input {
  width: 67%;
}